@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* __________________
        RESET 
 ____________________ */

:root {
  --color-primary: black;
  --color-secondary: white;

  --tipo-primary: "Inter", Arial, sans-serif;
  --tipo-secondary: Arial, sans-serif;
  --font-size-parrafo: 1rem;
  --font-size-lead: 0.875rem;
  --font-size-heading-md: 1.5rem;
  --font-size-large: 2rem;

  --padding-lateral: 1.5rem;
  --letter-spacing: 0.06rem;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* prettier-ignore */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

/* Enlaces me funcionarán como cajas (block) salvo los enlaces que están dentro de párrafos (inline) */
a {
  display: block;
}

p a {
  display: inline;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth; /* Al clickar en un enlace con ancla -> scroll suave a la seccion*/
}

/* prettier-ignore */
h1, h2, h3, h4, h5, h6, p, span, a, i, u, em {
  font-size: 1em;
  font-weight: inherit; /* Heredado de la etiqueta contenedora*/
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

svg {
  width: 100%;
  display: block; /* Por defect es inline-block*/
  fill: currentColor; /* Aplicar el color correct*/
}

.Body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--tipo-primary);
  color: var(--tipo-primary);
  background-color: var(--color-secondary);
  line-height: 1.4;
}

.Text-parrafo {
  font-size: var(--font-size-parrafo);
}

/* Títulos pequeños */
.Text-headingLead {
  font-size: var(--font-size-lead);
  letter-spacing: var(--letter-spacing);
  margin-bottom: 0.5rem;
}

/* Títulos medianos */
.Text-headingMedium {
  font-size: var(--font-size-heading-md);
}

/* Títulos grandes */
.Text-large {
  font-size: var(--font-size-large);
}

/* __________________
        HEADER 
 ____________________ */

.Header {
  background-color: rgb(255, 248, 196);
}

.Header-logoLink {
  text-decoration: none;
}

.Header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

/* CAMBIAR por clase .isActive */
.Header-enlaces {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  list-style: none;
  display: none;
}

.Header-link {
  text-decoration: none;
}

/* __________________
        FOOTER 
 ____________________ */

.Footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(234, 234, 234);
  padding: 3.9rem 1.8rem var(--padding-lateral);
  height: auto;
}

.Footer-lead {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  align-items: center;
}

.Circle {
  width: 0.9rem;
  height: 0.9rem;
  background-color: black;
  border-radius: 100%;
}

.Footer-leadText {
  font-size: var(--font-size-heading-md);
}

.Footer-h2 {
  padding: 1rem 0rem 1rem;
  font-size: var(--font-size-large);
  max-width: 90%;
}

.Footer-enlaces {
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
  padding-bottom: 3.75rem;
  gap: 1rem;
}

.Footer-link {
  /* Afecta a linkedin y correo */
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.Footer-linkedin {
  /* Es el contenedor [Linkedin] + [flecha] */
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.Footer-flecha {
  text-decoration: none;
}

.Credits {
  font-size: var(--font-size-parrafo);
  color: grey;
}

/* ________________________ */
/*       Media Queries      */
/* ________________________ */

/* He trabajado en Mobile First con la idea de cubrir las resoluciones desde 0px a 480px */

/* MÓVILES GRANDES */
@media (min-width: 481px) and (max-width: 767px) {
  :root {
    --font-size-parrafo: 1.125rem;
    --font-size-lead: 1rem;
    --font-size-heading-md: 1rem;
    --letter-spacing: 0.07rem;
  }

  /* Nav y Footer */
  .Header-nav {
    padding: 1rem;
  }

  .Footer-enlaces {
    flex-direction: row;
  }
}

/* TABLETS */
@media (min-width: 768px) and (max-width: 1024px) {
  :root {
    --font-size-parrafo: 1.125rem;
    --font-size-heading-md: 1.25rem;
    --font-size-large: 1.5rem;
    --letter-spacing: 0.08rem;
  }

  /* Nav y Footer */

  .Footer {
    padding: 4rem 2rem 2rem;
  }

  .Footer-enlaces {
    flex-direction: column;
  }

  .Footer-textContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem;
    margin-bottom: 2.5rem;
  }

  .Footer-h2 {
    max-width: 50%;
    font-size: 2.6rem;
    line-height: 3.5rem;
  }

  .Footer-enlaces {
    flex-direction: column;
    font-size: 1.5rem;
    gap: 1rem;
    padding-bottom: 0;
  }
}

/* DESKTOP MEDIO */
@media (min-width: 1025px) and (max-width: 1440px) {
  :root {
    --font-size-lead: 1.125rem;
    --font-size-heading-md: 1.6rem;
    --font-size-large: 2rem;
    --letter-spacing: 0.85rem;
  }

  /* Nav y Footer */
  .Header-nav {
    padding: 1.125rem;
  }

  .Header-enlaces {
    display: flex;
    font-size: 1.125rem;
    gap: 2rem;
  }

  .Footer-textContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10rem;
  }

  .Footer-h2 {
    max-width: 45%;
    font-size: 3rem;
  }

  .Footer-leadText {
    font-size: 1.3rem;
  }
  .Footer-enlaces {
    font-size: 1.7rem;
    padding-bottom: 0;
  }
}

/* DESKTOP GRANDE */
@media (min-width: 1441px) {
  :root {
    --font-size-parrafo: 1.25rem;
    /* --font-size-lead: 1.6rem; */
    --font-size-heading-md: 1.8rem;
    --font-size-large: 2.2rem;
  }

  /* Nav y Footer */
  .Header-nav {
    padding: 1.3rem;
  }

  .Header-enlaces {
    display: flex;
    font-size: 1.4rem;
    gap: 2.2rem;
  }

  .Footer-textContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10rem;
  }

  .Footer-h2 {
    max-width: 40%;
    font-size: 3.8rem;
    line-height: 4.5rem;
  }

  .Footer-enlaces {
    font-size: 2rem;
    gap: 1rem;
    padding-bottom: 0;
  }
}
