@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* __________________
        RESET 
 ____________________ */

:root {
  --color-primary: black;
  --color-secondary: white;

  --tipo-primary: "Inter", Arial, sans-serif;
  --tipo-secondary: Arial, sans-serif;
  --font-size-lead: 0.875rem;
  --font-size-parrafo: 1rem;
  --font-size-heading-md: 1.5rem;
  --font-size-large: 2rem;

  --padding-lateral: 1.5rem;
  --letter-spacing:  0.06rem;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* prettier-ignore */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

/* Enlaces me funcionarán como cajas (block) salvo los enlaces que están dentro de párrafos (inline) */
a {
  display: block;
}

p a {
  display: inline;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth; /* Al clickar en un enlace con ancla -> scroll suave a la seccion*/
}

/* prettier-ignore */
h1, h2, h3, h4, h5, h6, p, span, a, i, u, em {
  font-size: 1em;
  font-weight: inherit; /* Heredado de la etiqueta contenedora*/
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

svg {
  width: 100%;
  display: block; /* Por defect es inline-block*/
  fill: currentColor; /* Aplicar el color correct*/
}

.Body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--tipo-primary);
  color: var(--tipo-primary);
  background-color: var(--color-secondary);
  line-height: 1.4;
}

.Text-headingLead {
  font-size: var(--font-size-lead);
  letter-spacing: var(--letter-spacing);
  margin-bottom: 0.5rem;

}

.Text-parrafo {
  font-size: var(--font-size-parrafo);
}

.Text-headingMedium {
  font-size: var(--font-size-heading-md);
}

.Text-large {
  font-size: var(--font-size-large);
}

/* __________________
        HEADER 
 ____________________ */

.Header {
  background-color: rgb(255, 211, 128);
}

.Header-logoLink {
  text-decoration: none;
}

.Header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.Header-enlaces {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  list-style: none;
  /* font-size: 0.9em; */
}

.Header-link {
  text-decoration: none;
}

/* __________________
        FOOTER 
 ____________________ */

.Footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(234, 234, 234);
  padding: 3.9rem 1.8rem var(--padding-lateral);
  height: auto;
}

.Footer-lead {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  align-items: center;
  letter-spacing:  var(--letter-spacing);
  margin-bottom: 0.5rem;
}

.Circle {
  width: 0.9rem;
  height: 0.9rem;
  background-color: black;
  border-radius: 100%;
}

.Footer-leadText {
  font-size: var(--font-size-lead);
}

.Footer-h2 {
  padding: 0.3rem 0rem 1rem;
  font-size: var(--font-size-large);
}

.Footer-enlaces {
  display: flex;
  font-size: 1.3em;
  padding-bottom: 3.75rem;
  gap: 5rem;
}

/* .Footer-gmail {
}

.Footer-linkedin {
} */

.Credits {
  font-size: 0.8em;
  color: grey;
  margin-bottom: 1.25rem;
}

/* ________________________ */
/*       Media Queries      */
/* ________________________ */

/* He trabajado en Mobile First con la idea de cubrir las resoluciones desde 0px a 480px 
PONER CON VARIANTES :) */

@media (min-width: 481px) and (max-width: 767px) {
  /* Moviles grandes */
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* Tablets */
}

@media (min-width: 1025px) and (max-width: 1440px) {
  /* Pantallas grandes */
}

@media (min-width: 1441px) {
  /* Pantallas grandes */
}

/* Si fuera necesario: estilos para tablets: @media (min-width: 768px) and (max-width: 1024px) and (orientation:landscape) */


