/* __________________
        HERO 
 ____________________ */

.Hero {
  background-color: rgb(234, 234, 234);
  display: flex;
  flex-direction: column;
 
  padding: 4rem var(--padding-lateral);
}

.Hero-titulo { /* H1 */
  display: flex;
  word-wrap: break-word;
  font-size: var(--font-size-large);
  padding: 

}

.Hero-subtitulo {
  padding: 2rem 0rem;
  font-size: var(--font-size-parrafo);
}

.Hero-arrow {
  font-size: 1.5em;
  color: grey;
}

/* ______________________
       CARDS PROYECTOS 
 ________________________ */

.Proyectos {
  padding: 3rem var(--padding-lateral);
}

.Proyectos-title {
  font-size: 1.13em; /* 18px ~ */
  margin-bottom: var(--padding-lateral);
}

.Proyectos-grid {
  margin-top: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}

.Proyecto-link {
  text-decoration: none;
}

.Proyecto {
  display: flex;
  flex-direction: column;
  background-color: rgb(208, 208, 208);
  border-radius: 0.87rem;
}

.Proyecto-img {
  display: flex;
  min-height: 19rem;
  max-height: 25rem;
  height: auto;
  object-fit: cover;
  width: 100%;
  background-color: rgb(88, 88, 88);
  border-radius: 0.87rem 0.87rem 0rem 0rem;
}

.Proyecto-title {
  font-size: var(--font-size-heading-md);
  font-weight: bold;
}

.Proyecto-texts {
  height: auto;
  margin: 1rem 1.25rem;
  border-radius: 0rem 0rem 0.87rem 0.87rem;
}

.Proyecto-subtit {
  font-size: 1em;
  margin: 0.5rem 0rem 0.5rem;
  word-wrap: break-word;
}

.Proyecto-tags {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
}

.Proyecto-tag {
  background-color: rgb(241, 241, 241);
  border-radius: 1.4rem;
  padding: 0.5rem 0.8rem;
  margin-top: 0.5rem;
  font-size: 0.9em;
}

 