/* __________________
        HERO 
 ____________________ */

.Hero {
  background-color: rgb(234, 234, 234);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 812px;
}

.H1 {
  display: flex;
  margin: 4rem 1.25rem;
  word-wrap: break-word;
  font-size: 2.5rem;
}

/* __________________
        PROYECTOS 
 ____________________ */

.Proyectos-card {
  display: flex;
  flex-direction: column;
  background-color:rgb(208, 208, 208);
  margin: 4rem 1.25rem;
  border-radius: 0.87rem ;
}

.Proyectos-img {
  display: flex;
  height: 380px;
  background-color: rgb(88, 88, 88); 
  border-radius: 0.87rem 0.87rem 0rem 0rem;
}

.H3 {
  font-size: 1.8rem;
}

.Proyectos-textos {
  height: 210px;
  margin: 2rem 1.25rem 0rem 1.25rem;
  border-radius: 0px 0px 0.87rem 0.87rem;
}

.Proyectos-subtitulo {
  font-size: 1rem;
  margin: 0.5rem 0rem 0.8rem;
  word-wrap: break-word;
}

.Proyectos-tags {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
}

.Proyectos-tagItem {
  background-color: rgb(241, 241, 241);
  border-radius: 22px;
  padding: 0.5rem 0.8rem;
  margin-top: 1rem;
  font-size: 0.9rem;

}
