/* __________________
        HERO 
 ____________________ */

.Hero {
  background-color: rgb(234, 234, 234);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 4rem 1.6rem;
}

.H1 {
  display: flex;
  word-wrap: break-word;
  font-size: 1.5em; /* 24px */
  
}

.Hero-arrow {
  font-size: 1.5em;
}

/* __________________
        PROYECTOS 
 ____________________ */


 .Proyectos {
  padding: 3rem 1.6rem;
 }

 .Proyectos-title {
  font-size: 1.13em; /* 18px ~ */
  margin-bottom: 1.5rem;
 }

.Proyectos-grid {
display: grid;
grid-template-columns: 1fr;
gap: 2.5rem;
}

.Proyecto-link {
  text-decoration: none;
}

.Proyecto {
  display: flex;
  flex-direction: column;
  background-color:rgb(208, 208, 208);
  border-radius: 0.87rem;

}

.Proyecto-img {
  display: flex;
  min-height: 23rem;
  background-color: rgb(88, 88, 88); 
  border-radius: 0.87rem 0.87rem 0rem 0rem;
}

.Proyecto-title {
  font-size: 1.5em;
}

.Proyecto-txts {
  height: auto;
  margin: 2rem 1.25rem;
  border-radius: 0rem 0rem 0.87rem 0.87rem;
}

.Proyecto-subtit {
  font-size: 1em;
  margin: 0.5rem 0rem 0.8rem;
  word-wrap: break-word;
}

.Proyecto-tags {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
}

.Proyecto-tag {
  background-color: rgb(241, 241, 241);
  border-radius: 1.4rem;
  padding: 0.5rem 0.8rem;
  margin-top: 1rem;
  font-size: 0.9em;
}
