/* ___________________________ */
/*      PROJECT HEADER         */
/* ___________________________ */

.ProjectHeader {
  padding: 5rem var(--padding) var(--padding);
}

.ProjectHeader-cabecera {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1rem;
  gap: 1rem;
}

.ProjectHeader-imgContainer {
  width: 3rem;
  height: 3rem;
  /* background-color: blueviolet; */
}

.ProjectHeader-img {
  object-fit: cover;
  border-radius: var(--border-radius-icon);
}

.ProjectHeader-title {
  font-size: var(--font-size-large);
  font-weight: bold;
  letter-spacing: var(--letter-spacing);
}

.ProjectHeader-description {
  font-size: 1.6rem;
  line-height: 2.1rem;
}

/* ____________________________________ */
/*  SECTION CLAVE                       */
/* _____________________________________*/

.Text-headingLead {
  margin-bottom: 0rem;
}

.Text-headingMedium {
  margin-bottom: 0.8rem;
  font-weight: bold;
}

.SectionClave {
  background-color: rgb(246, 246, 246);
  padding: 3rem var(--padding) 4rem;
  height: auto;
}

.SectionClave--second {
  background-color: var(--color-secondary);
}


.Section-parrafos {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.Section-textContainer {
  height: auto;
  margin-bottom: var(--padding);
  /* padding: 4rem var(--padding); */
}

.Section-imgContainer {
  width: 100%;
  height: auto; /* Cambiar */
  /* background-color: rgb(209, 157, 255); */
 
}

.SectionClave-img {
  object-fit: cover;
  border-radius: var(--border-radius-img);
  width: 100%;
  height: auto;
}

/* ____________________________________ */
/*                APRENDIZAJES          */
/* _____________________________________*/

.Section--white {
  height: auto;
  color: var(--color-secondary);
  background-color: rgb(117, 117, 117);
}

/* ____________________________________ */
/*                ASIDE                   */
/* _____________________________________*/

.Aside {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  height: auto;
  padding: 3rem var(--padding);
  color: var(--color-secondary);
  background-color: black;
}

.Aside-link {
  display: flex;
  width: 100%;
}

.Aside-item {
  height: 200px; /* cambiar */
  max-width: 800px; /* cambiar */
  width: 100%;

  position: relative;
  background-size: cover;
  background-position: center;
  background-color: rgb(104, 104, 104);

  border-radius: var(--border-radius-img);
  overflow: hidden;
}

.Aside-item--nombreA {
  background-color: rgb(104, 49, 177);
  /* background-image: url("../img/prueba-aside.webp") ;  */
  /* cambiar */
}

.Aside-item--nombreB {
  background-color: rgb(104, 49, 177);
  /* background-image: url("../img/prueba-aside-dos.webp") ; */
  /* cambiar */
}

.Aside-item--nombreA:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.Aside-item--nombreB:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.Aside-texts {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: var(--padding);
  text-align: center;
}

.Aside-text {
  font-size: var(--font-size-parrafo);
}

.Aside-textTitle {
  letter-spacing: var(--letter-spacing);
  font-size: var(--font-size-heading-md);
  font-weight: bold;
}

/* ________________________ */
/*       Media Queries      */
/* ________________________ */

/* He trabajado en Mobile First con la idea de cubrir las resoluciones desde 0px a 480px */

/* MÓVILES GRANDES */
@media (min-width: 481px) and (max-width: 767px) {
}

/* TABLETS */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Section Clave */
  .Section-textGroup {
    width: 40%;
    padding-right: var(--padding);
  }

  .Section-textContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .Section-parrafos {
    width: 90%;
  }

  .Aside {
    display: flex;
    flex-direction: row;
  }
}

/* DESKTOP MEDIO */
@media (min-width: 1024px) and (max-width: 1440px) {

    /* Section Clave */
    .Section-textGroup {
      width: 40%;
      padding-right: 2rem;
    }


  .ProjectHeader-description {
    width: 80%;
  }

  .Section-imgContainer {
    width: 100%;
    height: auto; /* Cambiar */
  }

  .Section-textContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
  }

  .Section-parrafos {
    gap: 1.5rem;
    width: 90%;
  }

  .Aside {
    display: flex;
    flex-direction: row;
    padding: 3rem 9rem;
  }

  .Aside-item {
    height: 250px;
  }
}

/* DESKTOP GRANDE */
@media (min-width: 1441px) {
  /* Section Clave */
  .Section-textGroup {
    width: 40%;
    padding-right: 6rem;
  }

  .ProjectHeader-description {
    width: 80%;
  }

  .Section-textContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .Section-imgContainer {
    width: 100%;
    height: 500px; /* Cambiar */
  }

  .Section-parrafos {
    gap: 2rem;
    width: 90%;
  }

  .Aside {
    display: flex;
    flex-direction: row;
    padding: 3rem 9rem;
    gap: 5rem;
  }

  .Aside-item {
    height: 250px;
  }
}
